---
import { Badge, Text } from "./Base";
import { Cog6ToothIcon } from "@heroicons/react/24/outline";
import PPC from "../../public/icons/PPC.svg";
import CRO from "../../public/icons/CRO.svg";
import Content from "../../public/icons/Content.svg";
import Graph from "../../public/icons/Graph.svg";
import Mail from "../../public/icons/Mail.svg";
import Social from "../../public/icons/Social.svg";
import Container from "./Container.astro";

const sectionTitle = "High-impact services to help your business";
const services = [
  {
    src: PPC.src,
    title: "Pay-per Click Advertising",
    description:
      "Drive Conversions: Targeted campaigns on Google, Bing, & social media, leveraging keywords, ad copy, & bid optimization for high ROI.",
  },
  {
    src: Social.src,
    title: "Social Media Marketing",
    description:
      "Enjoy tailored social media strategies on Facebook, Instagram, Twitter, LinkedIn, and more. Boost brand visibility and audience engagement effortlessly.",
  },
  {
    src: Content.src,
    title: "Content Marketing",
    description:
      "Eye-catching blogs, informative infographics, and more. Boost brand authority and drive organic traffic with our content marketing strategies.",
  },
  {
    src: Mail.src,
    title: "Email Marketing",
    description:
      "Maximize Email Success: Expert strategies for targeted content, improved open rates, and unparalleled conversions.",
  },
  {
    src: CRO.src,
    title: "Conversion Rate Optimization",
    description:
      "Optimize conversions with our CRO services. Utilize data-driven analysis, enhanced UX, and optimized landing pages for better results.",
  },
  {
    src: Graph.src,
    title: "Analytics and Reporting",
    description:
      "Utilize real-time data for informed decisions, strategy refinement, and continuous improvement, converting clicks into effortless conversions.",
  },
];
---

<Container className="bg-neutral">
  <div class="inline-flex justify-center items-center w-full pb-md">
    <Badge><Cog6ToothIcon className="w-3" />Our Services</Badge>
  </div>
  <div class="max-w-full flex justify-center">
    <Text variant="h1" className="w-full lg:w-2/3" align="center">
      {sectionTitle}
    </Text>
  </div>
  <div
    class="grid grid-cols-1 gap-md pt-md md:grid-cols-2 lg:grid-cols-3 lg:pt-lg"
  >
    {
      services.map((service) => (
        <div class="bg-white border border-border-color p-lg rounded-lg">
          <div class="rounded-full bg-base-100 pb-sm">
            <img
              src={service.src}
              alt={service.title}
              class="h-16 w-auto p-3.5 bg-secondary rounded-md"
            />
          </div>
          <Text variant="h4" className="pb-sm">
            {service.title}
          </Text>
          <Text variant="small-p" colorStyle="secondary">
            {service.description}
          </Text>
        </div>
      ))
    }
  </div>
</Container>
