---
import Container from "./Container.astro";
import DataDrivenIcon from "../../public/icons/DataDriven.svg";
import TheCurveIcon from "../../public/icons/Curve.svg";
import VisibilityIcon from "../../public/icons/Visibility.svg";
import { Text } from "../components";

const sectionTitle = "What we are all about";
const sectionDescription =
  "We saw the need for a data-driven, innovative marketing approach, inspiring the birth of Toggle. We're on a mission to empower businesses to conquer their goals with effective digital strategies. Join us on this exciting journey of growth and success!";

const values = [
  {
    src: DataDrivenIcon.src,
    title: "Data-driven success",
    description:
      "Data-driven strategies delivering tangible results for our clients.",
  },
  {
    src: TheCurveIcon.src,
    title: "Stay ahead of the curve",
    description:
      "Digital success made simple with our innovative solutions and cutting-edge strategies.",
  },
  {
    src: VisibilityIcon.src,
    title: "Transparency and Visibility",
    description: "Build transparent partnerships for shared success.",
  },
];
---

<Container>
  <div class="grid grid-cols-1 gap-md lg:grid-cols-2 lg:gap-lg xl:gap-3xl">
    <div class="h-3xl lg:h-full rounded-lg bg-neutral-200"></div>
    <div class="w-full flex flex-col items-start">
      <Text variant="h1" className="pb-md">
        {sectionTitle}
      </Text>
      <Text variant="p" className="pb-lg" colorStyle="secondary">
        {sectionDescription}
      </Text>
      <div class="space-y-md">
        {
          values.map((value) => (
            <div class="flex items-center gap-sm">
              <img
                src={value.src}
                alt={value.title}
                class="shrink-0 h-10 w-auto rounded-lg"
              />
              <div>
                <Text variant="p" className="font-semibold">
                  {value.title}
                </Text>
                <Text variant="small-p" colorStyle="secondary">
                  {value.description}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Container>
 ../components
